# _config.yml
title: "My Portfolio"
email: ""
description: "Assignments and projects organized by grade and subject"
baseurl: "" # keep empty if hosted at https://jas0nmc.github.io
url: "https://jas0nmc.github.io"

theme: minimal-mistakes-jekyll

# SCSS processing
sass:
  style: compressed

plugins:
  - jekyll-feed

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: single
