<aside id="site-sidebar" style="float: left; width: 200px; margin-right: 20px;">
  <h3>Grades</h3>
  <ul>
    <li><strong>8th Grade</strong>
      <ul>
        <li><a href="/8th/english/">English</a></li>
        <li><a href="/8th/math/">Math</a></li>
        <li><a href="/8th/science/">Science</a></li>
      </ul>
    </li>
    <li><strong>9th Grade</strong>
      <ul>
        <li><a href="/9th/english/">English</a></li>
      </ul>
    </li>
    <li><strong>10th Grade</strong>
      <ul>
        <li><a href="/10th/english/">English</a></li>
      </ul>
    </li>
  </ul>
</aside>
